.contenedor {

    background-image: url('/images/imagen_fondo.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

.contenedor_a {

    margin: 15px;
    display: flex;
    justify-content: center;
    margin: 100px;

}

.row {

    margin: 10px;
    justify-content: center;

}

.form-label {

    color: rgb(251, 251, 250);
    font-size: 25px;
    font-weight: 600;
    font-style: italic;

}

.form-control {

    background: rgb(251, 251, 250);
    display: flex;
    border-radius: 10px;

}

.btn {

    border-radius: 10px;
    border: rgb(249, 249, 245);
    background: rgb(251, 251, 250);
    color: black;

}

.btn-primary:hover {

    background: rgb(19, 2, 250);
    color: black;
}

.aviso {
    
    background: rgb(218, 218, 217);
    display: flex;
    justify-content: center;
    
}

.aviso_usuario_incorrecto {

    display: flex;
    color: rgb(243, 9, 9);
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    margin-top: 10px;

}