.trabajos_realizados {

    background: rgb(224, 223, 223);
    display: flex;
}

.trabajos_realizados_titulo {

    background: rgb(240, 240, 234);
    width: 100%;
    color: rgb(0, 89, 255);
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}


.presentacion_a_txt {

    padding: 0px;
    margin-top: 0px;
    border-radius: 20px;
    margin-left: 10px;
}

.presentacion_a_txt h3 {

    color: rgb(0, 89, 255);
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid blue;
    padding: 5px;
    border-top: 0px;
    margin-right: 10px;
}

.presentacion_a_txt p {

    color: rgb(0, 89, 255);
    padding: 0px;
    margin: 0%;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.presentacion_a_img {

    width: 100%;
    margin: auto;
    margin-top: 0px;
    overflow: hidden;
    max-height: 100%;

}

.presentacion_a_img ul {

    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0%;
    width: 700%;
    animation: cambio 20s infinite;
}

.presentacion_a_img li {

    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.presentacion_a_img img {

    max-height: 300px;
    width: 300px;
    border-radius: 20px;
}

@keyframes cambio {

    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    15% {
        margin-left: -100%;
    }

    25% {
        margin-left: -100%;
    }

    30% {
        margin-left: -200%;
    }

    40% {
        margin-left: -200%;
    }

    45% {
        margin-left: -300%;
    }

    55% {
        margin-left: -300%;
    }

    60% {
        margin-left: -400%;
    }

    70% {
        margin-left: -400%;
    }

    75% {
        margin-left: -500%;
    }

    85% {
        margin-left: -500%;
    }

    90% {
        margin-left: -600%;
    }

    100% {
        margin-left: -600%;
    }
}

.separacion {

    background: rgb(240, 240, 234);
    padding: 20px;

}
