
<h2>{{title_cont}}</h2>

<h2>¿ Que Operacion Realiza ?</h2>

<label> Valor 1</label> <input type="number" name="" id="valor1" step="0.001" oninput="calcular()"><br><br>

<label> Valor 2</label> <input type="number" name="" id="valor2" step="0.001" oninput="calcular()"><br><br>

<label> Total</label> <input type="number" name="" id="total" step="0.001"><br><br>

<script src="/javascripts/multiplicar.js"></script>