.contacto {

    background: rgb(224, 223, 223);
    display: flex;


}

.titulo_contacto {

    background: rgb(240, 240, 234);
    width: 100%;
    color: rgb(0, 89, 255);
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.contenedor_contacto {

    display: inline-flex;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid blue;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-block-end: 15px;
    justify-content: center;
}

.foto_pag_contacto {


    display: flex;
    border-radius: 20px;
    justify-content: center;

}

.foto_pag_contacto img {

    border-radius: 20px;
    width: 100%;
}

.texto_contacto {

    background-color: rgb(175, 197, 197);
    padding: 10px;
    display: flex;
    border-radius: 20px;
}

.texto_contacto p {

    color: rgb(0, 89, 255);
    padding: 0px;
    margin: 0%;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin-top: 25px;
}

.formulario_contacto {

    background: rgb(166, 201, 201);
    display: block;
    gap: 30px;
    padding: 0px;
    margin-top: 0px;
    border-radius: 20px;
}

.formulario_contacto h3 {

    color: rgb(0, 89, 255);
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border-top: 0px;
    margin-left: 15px;

}

.formulario {

    display: block;
    padding: 15px;
}

.formulario p {

    gap: 20px;
    color: rgb(0, 89, 255);
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.formulario p label {

    min-width: 80px;
}

.formulario p input {

    width: 100%;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 5px;
}

.formulario p textarea {

    outline: none;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid blue;
    font-size: 14px;
    /*
    box-sizing: padding-box;
    display:block;
    overflow:hidden;
    padding:10px;
    width:250px;
    font-size:14px;
    margin:50px auto;
    border-radius:6px;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
    border:0;
    */
}

.acciones {

    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.acciones input {

    color: rgb(0, 89, 255);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    border: 1px solid blue;
    border-radius: 10px;

}

.acciones input:hover {

    background: gray;
    color: rgb(1, 5, 12);
    transform: scale(1.1);

}

.separacion_contacto {

    padding: 25px;
}

@media screen and (min-width: 230px) and (max-width: 790px) {



    .contenedor_contacto {

        display: inline-flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 20px;
        border: 2px solid blue;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-block-end: 15px;
        justify-content: center;
        transform: scale(0.9);
    }

    .formulario_contacto h3 {

        justify-content: center;
    }

    .formulario p input {

        width: 95%;
    }
    
    .formulario p textarea {

        width: 95%;
    }

}