<div class="contenedor_menu_ppal">

    <div class="contenedor_salir_menu_ppal">
        <p class="titulo_menu_ppal"> Bienvenido al Administrador {{persona}}
            &nbsp;
            <a class="salir_menu_ppal" href="/admin/login/logout">Cerrar Sesión
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </p>
    </div>

    <div class="contenedor_trabajos_novedades_menu_ppal">
        <div class="imagen_menu_ppal">
            <img src="/images/trabajos_realizados.jpg" alt="logo trabajos realizados">
        </div>
        <div class="boton_menu_ppal">
            <a class="boton_trabajo_novedades" href="/admin/trabajos_realizados"> Trabajos Realizados <br> & <br> contacto</a>
        </div>
    </div>

    <div class="contenedor_trabajos_novedades_menu_ppal">
        <div class="boton_menu_ppal">
            <a class="boton_trabajo_novedades" href="/admin/novedades">Novedades</a>
        </div>
        <div class="imagen_menu_ppal">
            <img src="/images/novedades.jpg" alt="logo novedades">
        </div>
    </div>
</div>