/*
font-family: 'Ubuntu', sans-serif;
*/

body {

    background: gray;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (min-width: 230px) and (max-width: 790px) {

    header {

        background-color: rgb(255, 136, 0);

    }

    .encabezado_maj {

        width: 100%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

    }

    header img {


        border-radius: 15px;
        transform: scale(0.9);
    }


    header h1 {


        color: rgb(5, 1, 0);
        font-size: 45px;
        font-weight: 100px;
        bottom: 35px;
        margin-left: 2px;
    }

    .relleno {

        padding: 60px;
    }

    nav {

        background-color: orange;


    }

    nav ul {

        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    nav ul li {

        flex-grow: 1;
    }

    nav ul li a {

        color: rgb(8, 0, 0);
        text-decoration: none;
        padding: 3px 6px;
        display: block;
        text-align: center;
    }

    nav ul li a:hover {

        background-color: rgba(250, 234, 8, 0.829);
        border-radius: 10px;
        color: rgb(46, 2, 243);
    }

    main {

        background-color: rgb(253, 195, 4);
        margin: 0px;
        margin-top: 0px;
        padding: 10px;

    }

    .slider {
        background: rgb(253, 195, 4);
        width: 50%;
        margin: auto;
        margin-top: 0px;
        overflow: hidden;
        max-height: 500px;



    }

    .slider ul {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0%;
        width: 700%;
        animation: cambio 20s infinite;
    }

    .slider li {

        list-style: none;
        width: 100%;

    }

    .slider img {
        max-height: 500px;
        width: 100%;
        border-radius: 20px;

    }

    @keyframes cambio {

        0% {
            margin-left: 0%;
        }

        10% {
            margin-left: 0%;
        }

        15% {
            margin-left: -100%;
        }

        25% {
            margin-left: -100%;
        }

        30% {
            margin-left: -200%;
        }

        40% {
            margin-left: -200%;
        }

        45% {
            margin-left: -300%;
        }

        55% {
            margin-left: -300%;
        }

        60% {
            margin-left: -400%;
        }

        70% {
            margin-left: -400%;
        }

        75% {
            margin-left: -500%;
        }

        85% {
            margin-left: -500%;
        }

        90% {
            margin-left: -600%;
        }

        100% {
            margin-left: -600%;
        }


    }

    .relleno {

        display: inline-flex;
        align-items: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    main H2 {

        background: rgb(253, 195, 4);
        display: inline-flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 10px;
        margin: 0;
        margin-top: 10px;
    }

    footer {

        background-color: rgb(243, 135, 46);
        text-align: center;
        padding: 20px 0px;
    }
}

@media screen and (min-width: 791px) and (max-width: 1300px) {
    header {

        background-color: rgb(255, 136, 0);
    }

    .encabezado_maj {

        display: inline-flex;
        align-items: center;
        padding: 10px;
        margin-left: 20px;
    }

    header img {

        border-radius: 15px;
        transform: scale(0.9);
    }

    header h1 {
        color: rgb(5, 1, 0);
        font-size: 50px;
        font-weight: 100px;
        bottom: 35px;
        margin-left: 30px;
    }


    .relleno {

        padding: 80px;
    }

    nav {

        background-color: orange;
    }

    nav ul {

        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    nav ul li {

        flex-grow: 1;
    }

    nav ul li a {

        color: rgb(8, 0, 0);
        text-decoration: none;
        padding: 3px 6px;
        display: block;
        text-align: center;
    }

    nav ul li a:hover {

        background-color: rgba(250, 234, 8, 0.829);
        border-radius: 10px;
        color: rgb(46, 2, 243);
    }

    main {

        background-color: rgb(253, 195, 4);
        margin: 0px;
        margin-top: 0px;
        padding: 10px;
    }

    .slider {
        background: rgb(253, 195, 4);
        width: 50%;
        margin: auto;
        margin-top: 0px;
        overflow: hidden;
        max-height: 500px;
    }

    .slider ul {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0%;
        width: 700%;
        animation: cambio 20s infinite;
    }

    .slider li {

        list-style: none;
        width: 100%;
    }

    .slider img {

        max-height: 500px;
        width: 100%;
        border-radius: 20px;
    }

    @keyframes cambio {

        0% {
            margin-left: 0%;
        }

        10% {
            margin-left: 0%;
        }

        15% {
            margin-left: -100%;
        }

        25% {
            margin-left: -100%;
        }

        30% {
            margin-left: -200%;
        }

        40% {
            margin-left: -200%;
        }

        45% {
            margin-left: -300%;
        }

        55% {
            margin-left: -300%;
        }

        60% {
            margin-left: -400%;
        }

        70% {
            margin-left: -400%;
        }

        75% {
            margin-left: -500%;
        }

        85% {
            margin-left: -500%;
        }

        90% {
            margin-left: -600%;
        }

        100% {
            margin-left: -600%;
        }


    }

    .relleno {

        display: inline-flex;
        align-items: center;
        width: 100%;
        padding: 0px;
        margin: 0;
    }

    main H2 {

        background: rgb(253, 195, 4);
        display: inline-flex;
        justify-content: center;
        text-align: center;

        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }

    footer {

        background-color: rgb(243, 135, 46);
        text-align: center;
        padding: 20px 0px;
    }
}

@media screen and (min-width: 1301px) and (max-width: 2560px) {

    header {

        background-color: rgb(255, 136, 0);
    }

    .encabezado_maj {

        width: 96%;
        display: inline-flex;
        justify-content: center;
        padding: 10px;
        margin-left: 20px;
    }

    header img {

        border-radius: 15px;
        transform: scale(1.1);
    }

    header h1 {
        color: rgb(5, 1, 0);
        font-size: 50px;
        font-weight: 100px;
        bottom: 35px;
        margin-left: 30px;
    }

    nav {

        background-color: orange;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    nav ul {

        width: 50%;
        list-style: none;
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        display: flex;
    }

    nav ul li {

        width: 40%;
        flex: grow 1;
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li a {

        color: rgb(8, 0, 0);
        text-decoration: none;
        padding: 3px 6px;
        display: inline-flex;
        text-align: center;
    }

    nav ul li a:hover {

        background-color: rgba(250, 234, 8, 0.829);
        border-radius: 10px;
        color: rgb(46, 2, 243);
    }

    main {

        background-color: rgb(253, 195, 4);
        margin: 0px;
        margin-top: 0px;
    }

    .slider {
        background: rgb(253, 195, 4);
        width: 50%;
        margin: auto;
        margin-top: 0px;
        overflow: hidden;
        max-height: 100%;
    }

    .slider ul {
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0%;
        width: 700%;
        animation: cambio 20s infinite;
    }

    .slider li {

        list-style: none;
        width: 100%;

    }

    .slider img {
        max-height: 700px;
        width: 100%;
        border-radius: 20px;
    }

    @keyframes cambio {

        0% {
            margin-left: 0%;
        }

        10% {
            margin-left: 0%;
        }

        15% {
            margin-left: -100%;
        }

        25% {
            margin-left: -100%;
        }

        30% {
            margin-left: -200%;
        }

        40% {
            margin-left: -200%;
        }

        45% {
            margin-left: -300%;
        }

        55% {
            margin-left: -300%;
        }

        60% {
            margin-left: -400%;
        }

        70% {
            margin-left: -400%;
        }

        75% {
            margin-left: -500%;
        }

        85% {
            margin-left: -500%;
        }

        90% {
            margin-left: -600%;
        }

        100% {
            margin-left: -600%;
        }
    }

    .relleno {

        display: inline-flex;
        align-items: center;
        width: 100%;
    }

    main H2 {

        background: rgb(253, 195, 4);
        display: inline-flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 2px;
        margin: 0;
        margin-top: 10px;
    }

    footer {

        background-color: rgb(243, 135, 46);
        text-align: center;
        padding: 8px 0px;
    }

}

.la_empresa {

    background-color: rgb(253, 195, 4);
    max-height: 200px;
    gap: 20px;
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid blue;
    padding: 2px;
    margin: 16px 0px;
    align-items: center;
}

.la_empresa img {

    border-radius: 15px;
    max-width: 20%;
    display: block;
    border-left: 5px;
}

.la_empresa .desarrollo h3 {

    color: blue;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid black;
    padding: 10px;
}

.la_empresa .desarrollo p {

    font-size: 13px;
}

.la_empresa:nth-child(even) {

    flex-direction: row-reverse;
}

.retorno {

    background-color: rgb(253, 195, 4);
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.retorno nav a {
    background: rgb(253, 195, 4);
    width: 95%;
    color: rgb(8, 0, 0);
    text-decoration: none;
    padding: 3px 6px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: end;
    text-align: center;
}

.retorno nav a:hover {

    background-color: rgb(253, 195, 4);
    color: rgb(46, 2, 243);
}



.footer_la_empresa {

    background-color: rgb(243, 135, 46);
    text-align: center;
    padding: 10px 0px;
}

@media screen and (min-width: 1301px) and (max-width: 2560px) {

    .la_empresa {

        margin: 5px 5px;
    }

    .la_empresa img {

        border-radius: 15px;
        max-width: 15%;
        display: block;
        border-left: 5px;
    }

    .la_empresa .desarrollo h3 {

        font-size: 30px;
    }


    .la_empresa .desarrollo p {

        font-size: 20px;
    }

    .retorno nav a {

        width: 100%;
        padding: 5px;
    }

    .retorno nav a:hover {

        background: rgb(253, 195, 4);
        color: rgb(46, 2, 243);
    }

}

.servicio_contenedor {

    background-color: rgb(253, 195, 4);
    max-height: 200px;
    gap: 20px;
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid blue;
    padding: 2px;
    margin: 16px 0px;
    align-items: center;
}

.desarrollo_servicio h3 {

    color: blue;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid black;
    padding: 10px;
}

.desarrollo_servicio p {

    font-size: 13px;
}


.slider_servicio {

    background: rgb(253, 195, 4);
    width: 50%;
    margin: auto;
    margin-top: 0px;
    overflow: hidden;
    max-height: 100%;
}

.slider_servicio_1 ul {

    display: inline-flex;
    align-items: center;
    padding: 0px;
    margin: 0%;
    width: 700%;
    animation: cambio_servicio 20s infinite;
}

.slider_servicio_1 li {

    list-style: none;
    width: 100%;
}

.slider_servicio img {

    max-height: 190px;
    width: 100%;
    border-radius: 20px;
}

.servicio_contenedor:nth-child(odd) {

    flex-direction: row-reverse;
}

@keyframes cambio_servicio {

    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    15% {
        margin-left: -100%;
    }

    25% {
        margin-left: -100%;
    }

    30% {
        margin-left: -200%;
    }

    40% {
        margin-left: -200%;
    }

    45% {
        margin-left: -300%;
    }

    55% {
        margin-left: -300%;
    }

    60% {
        margin-left: -400%;
    }

    70% {
        margin-left: -400%;
    }

    75% {
        margin-left: -500%;
    }

    85% {
        margin-left: -500%;
    }

    90% {
        margin-left: -600%;
    }

    100% {
        margin-left: -600%;
    }
}

@media screen and (min-width: 1301px) and (max-width: 2560px) {

    .servicio_contenedor {

        width: 99%;
        margin: 5px 5px;
    }

    .desarrollo_servicio p {

        font-size: 20px;
    }

    .desarrollo_servicio h3 {

        font-size: 30px;
    }

    .retorno nav a {
        width: 100%;
        padding: 5px;
    }

    .retorno nav a:hover {

        background: rgb(253, 195, 4);
        color: rgb(46, 2, 243);
    }

    .slider_servicio {

        width: 20%;

    }
}