<div class="contenedor_agregar">
    <div> &nbsp; </div>
    <div class="container" id="agregar" >
        <div class="row">
            <div class="col-7">
                <h3 class="titulo_agregar">Agregar una nueva novedad</h3>
                <form action="/admin/novedades/agregar" method="post">
                    <div class="mb-3 row">
                        <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                    </div>
                    <div class="mb-3 row">
                        <textarea type="text" class="form-control"
                            placeholder="Subtitulo" name="Subtitulo"></textarea>
                    </div>
                    <div class="mb-3 row">
                        <textarea type="text" class="form-control"
                            placeholder="Cuerpo" name="cuerpo"></textarea>
                    </div>
                    <div class="boton_guardar">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                {{#if error}}
                <div class="mensaje_error">
                <p class="mensaje_error_p">{{message}}</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div> &nbsp; </div>
</div>