/* desarrollo style del body */

body {

    background-color: #B2BABB;

}

/* desarrollo style de los iconos */

#foto_cv {

    width: 250px;
    height: 250px;
    float: right;
    padding: 30px;
}

#logo_posicion {

    width: 30px;
    height: 30px;
    float: left;
    padding: 15px;

}

#logo_celular {

    width: 30px;
    height: 30px;
    float: left;
    padding: 15px;

}

#logo_email {

    width: 30px;
    height: 30px;
    float: left;
    padding: 15px;

}

#logo_web {

    width: 30px;
    height: 30px;
    float: left;
    padding: 15px;
}

/* desarrollo style de los titulos */

h1 {

    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0504F8;
}

h2 {

    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0504F8;
}

/* desarrollo div del resumen profesional */
.resumen_profesional {

    padding: 0px;
    box-sizing: border-box;
    margin: 25px;
}

/* desarrollo div del formacion*/
.formacion {

    padding: 0px;
    box-sizing: border-box;
    margin: 2px;
}
.historial_laboral{

    column-count: 2;
    column-gap: 30px;
    column-rule: 2px solid blue;
    
}
.historial_laboral p{
    margin: 20px;
}
.historial_laboral h3{
    margin: 0px;
}

/* desarrollo aptitudes*/
.aptitudes{
column-count:3;
column-gap: 30px;
column-rule: 2px solid blue;
margin: 20px;
}
.aptitudes p{
    margin: 0px;
}

/* desarrollo  contacto */
.subtitulo_contacto {

    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0504F8;
}

/* aca desarrolo el style del formulario */
form {

    /* general */
    /*background-color: #E6E6E6;*/
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    width: 640px;
    /* aplico gradiente*/
    background: #f6a658;
    background: linear-gradient(50deg, #f6a658 0%, #ed8926 80%);
    background: -webkit-linear-gradient(50deg, #f6a658 0%, #ed8926 80%);
    background: -moz-linear-gradient(50deg, #f6a658 0%, #ed8926 80%);
    /* aplico sombra */
    box-shadow: 8px -7px 3px -1px rgba(234, 89, 10, 0.75);
    -webkit-box-shadow: 8px -7px 3px -1px rgba(234, 89, 10, 0.75);
    -moz-box-shadow: 8px -7px 3px -1px rgba(234, 89, 10, 0.75);
}

.input_gral {

    padding: 2px;
    background-color: #e9ecf7;
    border-radius: 5px;
    outline: invert;
    border: solid 1px #0736b9;

}

.nombre {

    padding: 10px;
    color: #0101DF;
    font-size: medium;
    font-style: oblique;
    font-weight: bolder;
}


.boton_contacto {

    margin-left: 10px;
    padding: 2px;
    border-radius: 5px;
    background-color: #2E64FE;
    color: #e9ecf7;


}

.boton_contacto:hover {

    padding: 2px;
    border-radius: 5px;
    background-color: #93fe2e;
    color: black;
    /* sombra */
    box-shadow: 8px -7px 3px -1px rgba(12, 131, 237, 0.75);
    -webkit-box-shadow: 8px -7px 3px -1px rgba(12, 131, 237, 0.75);
    -moz-box-shadow: 8px -7px 3px -1px rgba(12, 131, 237, 0.75);
}