<div class="contenedor_novedades">
    {{!-- fila 1 --}}

    <div class="contenedor_salir">
        <p class="saludo_novedades"> Hola {{persona}} ! <a class="salir" href="/admin/login/logout"> Cerrar Sesión <i  class="fas fa-sign-out-alt"></i></a></p>
    </div>
    
 
   
    {{!-- fila 1 --}}

</div>
